.toast__container {
  bottom: calc(var(--safe-area-gap, 0px) + 10px);
  z-index: 5000;
  transition: all 0.4s ease;
}

.stack-toast {
  --stack-gap: 20px;
  --safe-area-gap: env(safe-area-inset-bottom);
  position: absolute;
  width: max-content;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease;
  transform: translate3d(0, 86px, 0);
  opacity: 0;
}

.stack-toast:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 1px);
  width: 100%;
  height: 1000px;
  background: transparent;
}

.stack-toast:not(:last-child) {
  --i: calc(var(--index) - 1);
  transform: translate3d(0, calc(1px - (var(--stack-gap) * var(--i))), 0)
    scale(calc(1 - 0.05 * var(--i)));
  opacity: 1;
}

.stack-toast-4 {
  pointer-events: none;
  opacity: 0 !important;
}
.stack-toast-1 {
  transition: all 0.4s ease;
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}

.toast__container:hover {
  bottom: calc(var(--safe-area-gap, 0px) + 20px);
}

.toast__container:hover > .stack-toast {
  transform: translate3d(
    0,
    calc(var(--hover-offset-y) - var(--stack-gap) * (var(--index) - 1)),
    0
  );
}

@keyframes toastFadeIn {
  0% {
    opacity: 0.5;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes toastFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(50px);
  }
}
