/* TOAST CONTAINER */

.toast__container {
  position: fixed;
  z-index: 5000;
  height: 0;
  transition: all 0.4s ease;
  height: 160px;
  max-height: 160px;
  width: 300px;
  overflow: hidden;
}

.toast__container:hover {
  bottom: calc(var(--safe-area-gap, 0px) + 20px);
}

.toast__container:hover > .stack-toast {
  transform: translate3d(
    var(--toast-x-offset),
    calc(var(--hover-offset-y) - var(--stack-gap) * (var(--index) - 1)),
    0
  );
}

/* TOAST */

.stack-toast {
  --toast-x-offset: -50%;
  --stack-gap: 20px;
  --safe-area-gap: env(safe-area-inset-bottom);
  position: absolute;
  width: max-content;
  bottom: 0;
  left: 50%;
  transition: all 0.4s ease;
  transform: translate3d(var(--toast-x-offset), 0, 0);
  opacity: 0;
}

.stack-toast:not(:last-child) {
  --i: calc(var(--index) - 1);
  transform: translate3d(
      var(--toast-x-offset),
      calc(1px - (var(--stack-gap) * var(--i))),
      0
    )
    scale(calc(1 - 0.05 * var(--i)));
  opacity: 1;
}

.stack-toast-1 {
  transition: all 0.4s ease;
  transform: translate3d(var(--toast-x-offset), 0, 0) !important;
  opacity: 1 !important;
}

.stack-toast-4 {
  pointer-events: none;
  opacity: 0 !important;
}

@keyframes toastFadeIn {
  0% {
    opacity: 0.5;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes toastFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(50px);
  }
}
