@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 35px;
  height: 6px;
  margin: 0;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spinner > div {
  width: 5px;
  height: 5px;
  border-radius: 80%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    ransform: scale(0);
    transform: scale(0);
  }
  40% {
    ransform: scale(1);
    transform: scale(1);
  }
}
